.header-wrapper {
    width: 100vw;
    height: 3rem;
    background-color: black;
}

.menu-icon-wrapper {
    width: max-content;
    height: inherit;
    padding: 0 1rem;
    img {
        cursor: pointer;
        background: white;
        padding: 0.5rem;
        margin-top: 0.75rem;
        border-radius: 50%;
    }
}