.page-wrapper {
    padding: 2rem;
    @media only screen and (max-width: 600px) {
        padding: 1rem;
    }
}

.banner-wrapper {
    margin: 0 0 2rem;
}

.banner {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.content {
    color: white;
}

.title {
    font-size: 2rem;
    font-weight: 600;    
    @media only screen and (max-width: 600px) {
        font-size: 1.5rem;
    }
}

.description {
    font-size: 1.25rem;
    text-align: justify;
    margin: 1.5rem 0;
    @media only screen and (max-width: 600px) {
        font-size: 1rem;
    }
}

.rating {
    margin-bottom: 1rem;
}

.rating-icon {
    height: 1.25rem;
    @media only screen and (max-width: 600px) {
        height: 1rem;
    }
}

.star {
    margin-right: 0.25rem;
}

.half-star {
    vertical-align: text-bottom;
    height: 1.5rem !important;
    margin-bottom: 0.1rem;
    @media only screen and (max-width: 600px) {
        height: 1.2rem !important;
    }
}

.score {
    font-size: 1.25rem;
    margin: 0 0.5rem;
    color: white;    
    @media only screen and (max-width: 600px) {
        font-size: 1rem;
    }
}